In [26]:
from datasets import load_dataset, DatasetDict

dataset = load_dataset("AdaptLLM/medicine-tasks", name='USMLE')

In [27]:
import pandas as pd

df_dict = {}
for split, ds in dataset.items():
  df = pd.DataFrame(ds)
  df_dict[split] = df

In [29]:
combined_df = pd.concat(df_dict.values(), ignore_index=True)
combined_df = combined_df.drop('id', axis=1)
combined_df['output'] = [array[index] for array, index in zip(combined_df['options'], combined_df['gold_index'])]
combined_df = combined_df.drop(['options', 'gold_index'], axis=1)
combined_df

,input,output
0,A 39-year-old woman is brought to the emergenc...,"Lactose-fermenting, gram-negative rods forming..."
1,What is the answer?\nA 46-year-old man is brou...,"Benzodiazepine intoxication\n"""
2,Q: A 67-year-old man who was diagnosed with ar...,Psoriatic arthritis
3,A 56-year-old man with a history of hypertensi...,Aldosterone excess
4,Question: A 3-week-old male newborn is brought...,Transplacental passage of TSH receptor antibodies
...,...,...
1268,"Q: A 32-year-old woman, gravida 2, para 0, at ...",“I'm sorry for your loss. This must be a diffi...
1269,Question: A 67-year-old woman with depression ...,Glycine
1270,Q: A 45-year-old woman presents to the physici...,Multiple endocrine neoplasia (MEN) 2A
1271,Answer the question\nA 66-year-old man with hi...,Simvastatin
1272,Question: A 39-year-old woman presents to the ...,Thyroid-stimulating hormone (TSH)

In [33]:
combined_df.to_csv('train.csv', index=False)

In [32]:
len(max(combined_df['input']))

362